// resources/scss/components/_menu.scss

.navigation-menu{
    &.close{
        span{
            display: none;
            transition: all .5s;
        }
        .menu-item{
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media (max-width: 1366px) {
      span{
        display: none !important;
      }
      .menu-item{
        margin-left: 0;
        margin-right: auto;
      }

      &.open{
        span{
            display: block !important;
        }
        .menu-item{
            margin-left: unset;
            margin-right: unset;
        }
      }
    }
    @include breakpoint('huge') {
      span{
        display: block;
      }
    }
}


.nav-toggle{
    width: 24px;
    height: 24px;
    transition-duration: 0.5s;
    position: relative;

    &:hover:before {
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 0.5s;
    }

    .nav-toggle-bar {
      @include icon(2px, 24px);
      top: 50%;

      &:before{
        @include icon-before(2px, 24px, -8px);
      }

      &:after{
        @include icon-after(2px, 24px, 8px);
      }
    }

    &.close {
        &:before {
            position: absolute;
            content: "";
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition-duration: 0.5s;
        }

        .nav-toggle-bar {
            transition-duration: 0.5s;
            transform: rotateZ(-180deg);

            &:before{
            transform: rotateZ(-45deg) scaleX(0.75) translate(-8px, -3px);
            }

            &:after{
            transform: rotateZ(45deg) scaleX(0.75) translate(-8px, 3px);
            }
        }
    }
    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1366px) {
      &:before {
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 0.5s;
      }

      .nav-toggle-bar {
        transition-duration: 0.5s;
        transform: rotateZ(-180deg);

        &:before{
        transform: rotateZ(-45deg) scaleX(0.75) translate(-8px, -3px);
        }

        &:after{
        transform: rotateZ(45deg) scaleX(0.75) translate(-8px, 3px);
        }
      }

      &.open {
        .nav-toggle-bar {
          transition-duration: 0.5s;
          transform: rotateZ(-180deg);

          &:before{
            transform: unset;
          }

          &:after{
            transform: unset;
          }
        }
      }

    }

  }
